/* 设置颜色变量，便于后期对边框颜色的调整（只需要调整这一个地方，其他引入变量的颜色都会改变） */
:root{
    --success-color:#2ecc71;
    --error-color: #e74c3c;
    /* 小tips：屁股忘记加;的话，颜色的前面不会显示小方块 */
}

/* 页面重置，避免与默认样式冲突 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 将盒子的border和padding包含在width内，更便于设置盒子的宽高 */
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* 弹性布局 */
    align-items: center;
    /* 将弹性元素的所有项目垂直居中对齐且盒子由内容撑开,内部内容不居中 */
    justify-content: center;
    /* 水平对齐弹性容器的项目 */
    min-height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* 参数依次为：水平阴影（右）垂直阴影（下）阴影模糊距离（距离大于阴影） 阴影颜色 */
    /* 默认阴影位置在正下方，前两个参数是让阴影沿着X/Y坐标轴移动的距离，当模糊距离大于移动距离的时候，看起来就像是给四周都加了阴影 */
    width: 400px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
    /* margin参数：2个时 上下|左右；3个时 上|左右|下；4个时 上|右|下|左 */
}

.form{
    padding: 30px 40px;
    /* 参数同margin */
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    /* 父相子绝：子元素要用绝对定位时，父元素应添加相对定位 */
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    border-color: #777;
    outline: none;
    /* 清除聚焦时默认的黑色框 */
}

.form-control.success input{
    border-color: var(--success-color);
    /* 引入颜色变量 */
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    /* 视觉隐藏，元素还在文档中，只是透明度为0；
    但是用display：none时元素是彻底消失，不在文档流中 */
}

.form-control.error small{
    visibility: visible;
    /* 错误提示出现 */
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}