*{
    box-sizing: border-box;
    /* 怪异盒模型 */
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* 作为列，垂直地显示弹性项目 */
    align-items: center;
    /* align-items属性为弹性容器内的项目指定默认对齐方式 */
    height: 100vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    /* 规定一下字体的规格，避免不同设备的效果不同 */
    margin: 0;
}

.movie-container{
    margin: 20px 0;
}

.movie-container select{
    border-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.seat.selected{
    background-color: #6feaf6;
}

.seat.occupied{
    background-color: #fff;
}

/* 走廊效果 */
.seat:nth-of-type(2){
    /* 选取同一父元素下的第2个.seat元素 */
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}

.seat:not(.occupied):hover{
    /* :not()反选伪类选择器 */
    cursor: pointer;
    transform: scale(1.2);
    /* 缩放倍数 */
}

.showcase .seat:hover{
    cursor: default;
    /* 不出现小手 */
    transform: scale(1);
}

.showcase{
    border-color: rgba(0, 0, 0, 0.1);
    /* rgba(红, 绿, 蓝, 透明度) */
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    /* 字体颜色 */
    list-style-type: none;
    /* list-style-type设置列表项标记的类型 */
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase small{
    margin-left: 2px;
}

.container{
    perspective: 1000px;
    /* 立方体的收缩由 perspective 属性定义,它的值越小,视角越深 */
    margin-bottom: 30px;
}

.screen{
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    /* 沿X轴旋转-45度 */
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.row{
    display: flex;
}

.text{
    margin: 5px 0;
}

.text span{
    color: #6feaf6;
}